<div class="container">
  <h2 class="header">Employee Details</h2>
  <div class="employee-info">
    <p class="info"><strong class="label">ID:</strong> 642faa3d84fbbfe4ee1a4fea</p>
    <p class="info"><strong class="label">First Name:</strong> Ramiz</p>
    <p class="info"><strong class="label">Last Name:</strong> Karaeski</p>
    <p class="info"><strong class="label">Email:</strong> ramize@karaeski.ca</p>
    <p class="info"><strong class="label">Gender:</strong> male</p>
    <p class="info"><strong class="label">Salary:</strong> $999.000</p>
  </div>
</div>
